<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">PIPE</th>
            <th scope="col">DESCRIPCIÓN</th>
            <th scope="col">EJEMPLO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <th>{{nombre}}</th>
            <td>uppercase </td>
            <td>{{nombre | uppercase}}</td>
          </tr>
          <tr>
            <th>2</th>
            <td>{{nombre}}</td>
            <td>{{nombre| lowercase}}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td></td>
          </tr>
        </tbody>
      </table>
</body>
</html>